<div fxLayout="row">
  <div fxFlex="50">
    <span class="header__dashboard-label">PHISHING DASHBOARD</span>
  </div>
  <div fxFlex="50" fxLayoutAlign="end">
    <span>30D</span>
    <span class="header--time"> | 7D | 24Hr</span>
  </div>
</div>

<div fxLayout="row">
  <div fxFlex="50">
    <h3 class="header__left-subtitle text-white">PHISING ATTEMPTS BY NUMBERS</h3>
  </div>
  <div fxFlex="50" fxLayoutAlign="end" class="header__timestamp-container">
    <span class="text-white">LAST REFERESH TIMESTAMP: </span>
    <span class="header--time header__timestamp_value"> 12-25-2019</span>
  </div>
</div>